.nav_main{
  background-color: rgb(255, 255, 255);
}

.container{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
} 
.nav_up{
  background-color: #1c2331;
  width: 100%;
  align-items: center;
  display: flex;

}

.nav-item .nav-link{
  color:rgb(18, 15, 15);  
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.line_under_nav{
  margin: 3px 0px;
  color: black;
  border: 0;
  border-top: 1px solid;
  opacity: 1.25;
}
.nav-item .nav-link:hover{
    color:rgb(200, 48, 48);  
  }

  .Login_nav_main{
     margin-right:15px ;
  }
  .shopping_nav_main {
    margin-right:15px ;
  }
  .shopping_nav_main a{
    color: rgb(253, 250, 250);
text-decoration: none;
  }
.Login_nav_main a{
color: rgb(248, 245, 245);
text-decoration: none;
}
.Login_nav_main a:hover{
  color: rgb(43, 180, 218);
  }
.shopping_nav_main a:hover{
  color: rgb(43, 180, 218);
} 
.section_1{
background-image: url("../images/IMG_1289.jpg");
background-size: cover;
width: 100%;
background-position:center;
min-height:550px;
}
.section_1 .carousel-caption{
  position: absolute;
    text-align: center;
   width: 400px;
    color: #090909;
    background-color: azure;
    margin-bottom: 14%;
    margin-left: 20%;

}
.section_2 h2{
  padding-top:60px;
  padding-bottom:20px;
}

.main1_login{
width: 100%;
height: 100%;
 background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;

}
.login{
  width:380px;
  margin: 100px auto;
  border: #acacac solid 1px;
  padding: 40px;
}
.login input{
  margin-bottom:15px;
  width: 100%;
} 

.login input[type="submit"]{
text-align: center;
width: 100%;
padding:5px ;
}
.login h4{
  color:#767575;
  margin-bottom:30px;
  
}
.login .btn{
background-color: #090909;
color: aliceblue;
margin-top: 10px;
}
.login .btn:hover{
  background-color: #090909;
  color: aliceblue;
  transform: scale(1.1, 1.1);
  }
  .login a{
    color: #090909;
    text-decoration: none;

  }
  .login a:hover{
    color: #090909;
  }
  